:root {
  --color-primary: #004029;
  --color-secondary: #f6b800;
  --color-accent: #932520;
}

.color-primary {
  background-color: var(--color-primary);
}

.color-secondary {
  background-color: var(--color-secondary);
}

.color-accent {
  color: var(--color-accent);
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #004029;
  border-radius: 20px;
  border: 5px solid #ffffff;
}

a {
  text-decoration: none;
}

/* nav */
.nav-link:hover {
  background-color: var(--color-secondary);
  color: #212529;
}

.cont-logo {
  max-height: 75px;
  max-width: 75px;
}

.cont-logo .logo {
  width: 100%;
  height: 100%;
}

.carousel-item {
  position: relative;
}

.carousel-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.carousel-caption {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.carousel-item p {
  max-width: 700px;
  margin: 0 auto 35px auto;
}

.carousel-control-prev {
  width: 90px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 0 50px 50px 0;
  opacity: 1;
}

.carousel-control-prev:hover {
  transition: 0.8s;
}

.carousel-control-next {
  width: 90px;
  height: 60px;
  position: absolute;
  top: 50%;
  right: 0;
  border-radius: 50px 0 0 50px;
  opacity: 1;
}

.carousel-control-next:hover {
  transition: 0.8s;
}

/* akademik */
.scroll {
  flex: 1;
  flex-wrap: nowrap;
}
.card {
  transition: all 0.15s ease;
}

.card-body .card-title {
  letter-spacing: 0.3px;
  font-size: 24px;
}

.card-text {
  font-size: 15px;
}

.container:hover > img {
  transform: scale(1.2);
}

.container img {
  transition: 0.4s ease;
  cursor: pointer;
}

.btn-acd:hover {
  background-color: var(--color-primary);
}
/* carousel */
.carousel-item {
  max-height: 75vh;
}

/* pmb */
.pmb {
  margin-top: -150px;
}

.corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--color-primary);
  border-radius: 0 4px 0 40px;
}
.arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: var(--color-primary);
}

.pmb:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: var(--color-primary);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-out;
}

.pmb:hover:before {
  transform: scale(50);
}

.pmb:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.pmb:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

/* berita */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 0 0 2rem 0;
  color: #fff;
}
.postcard.light {
  background-color: #e1e5ea;
}
.postcard a {
  color: inherit;
}
.postcard h1,
.postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .title {
  font-size: 1.75rem;
  color: var(--color-primary);
}
.postcard .img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.postcard .img_link {
  display: contents;
}
.postcard .bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: var(--color-primary);
  transition: width 0.2s ease;
}
.postcard .text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .tagbox .item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  user-select: none;
  transition: background-color 0.3s;
}
.postcard .tagbox .item:hover {
  background: rgba(83, 83, 83, 0.8);
  cursor: pointer;
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .bar {
  width: 100px;
}

/* footer */

.footer-top p {
  font-size: 13px;
  line-height: 2;
}

footer p {
  margin-bottom: 0;
}
.footer-logo {
  display: block;
  margin-bottom: 32px;
}
.address1 li {
  list-style: none;
  position: relative;
  padding: 0px 0 14px 34px;
  line-height: 26px;
}
ul.address1 span {
  position: absolute;
  width: 40px;
  max-width: 40px;
  left: 0;
}
.address1 li a {
  color: #fff;
  text-decoration: none;
}
ul.address1 i {
  width: 20px;
  position: absolute;
  left: 0px;
  text-align: center;
  font-size: 28px;
  top: 0;
}

ul.address1 i.fa-envelope {
  font-size: 18px;
  top: 4px;
}

.copyright {
  font-size: 18px;
}

@media screen and (min-width: 1024px) {
  .text {
    padding: 2rem 3.5rem;
  }
  .text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard.dark .text:before {
    background: #18151f;
  }
  .postcard.light .text:before {
    background: #e1e5ea;
  }
}

@media (max-width: 992px) {
  .carousel-item {
    min-height: 500px;
  }

  .carousel-item img {
    min-height: 500px;
    object-fit: cover;
  }

  .carousel-item h1 {
    font-size: 40px !important;
  }

  .carousel-item p {
    font-size: 16px !important;
  }
}

@media (max-width: 768px) {
  .cont-logo {
    max-height: 50px;
    max-width: 50px;
  }

  .carousel-item {
    min-height: 400px;
  }

  .carousel-item img {
    min-height: 400px;
    object-fit: cover;
  }

  .carousel-item h1 {
    font-size: 20px !important;
  }

  .carousel-item p {
    font-size: 14px !important;
  }

  .pmb {
    margin: 20px 0;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .title {
    font-size: 2rem;
  }
  .postcard .tagbox {
    justify-content: start;
  }
  .postcard .img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .text {
    padding: 3rem;
    width: 100%;
  }
  .postcard .media.text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard:hover .img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n + 1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n + 0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n + 1) .text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n + 0) .text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
